In [2]:
def test():
    pass

In [3]:
def test1():
    print('this is my 1st function')

In [4]:
test1()

this is my 1st function

In [12]:
 a= test1()

this is my 1st function

In [13]:
a

In [6]:
a+ 'sudh'

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [7]:
type(test1())

this is my 1st function

NoneType

In [14]:
str(a)

'None'

In [25]:
def test2():
    return "this my 1st function"  #here it is working because previously print has none type

In [27]:
type(test2())

str

In [28]:
test2()+ ' sudh'

'this my 1st function sudh'

In [30]:
def test3():
    return 23423

In [31]:
type(test3())

int

In [17]:
def test4():
    print( 4 , 3 ,'454', [34,'fgft'])

In [18]:
b = test4()

4 3 454 [34, 'fgft']

In [20]:
def test4():
    return  4 , 3 ,'454', [34,'fgft']

In [21]:
b = test4()

In [22]:
b

(4, 3, '454', [34, 'fgft'])

In [23]:
b[1]

3

In [24]:
a,b,c,d = 12,'dfd',34,[4,55]

In [25]:
b

'dfd'

In [26]:
x,y,u,v = test4()

In [59]:
y

3

In [60]:
v

[34, 'fgft']

In [27]:
def test5():
    a = 6*7/6
    return a

In [28]:
a

12

In [29]:
test5()

7.0

In [30]:
l = [3,4,54, "sudh", [1,2,3,4]]

In [31]:
def test6(a):
    n=[]
    if type(a) == list:
        for i in a:
            if type(i)== int:
                n.append(i)
    return n

In [32]:
test6(l)

[3, 4, 54]

In [37]:
def test7(c):
    if type(c)==dict:
        return c.keys()
    else :
        return "you have not pass dict"

In [38]:
test7({"a":"ddf", "c": "565656"})

dict_keys(['a', 'c'])

In [39]:
test7(7)

'you have not pass dict'

In [61]:
def test8(a,b):
    if type(a)==list and type(b)==list:
        a.extend(b)
        #a=a+b
        return a
    else:
        return "Either of data is not list"

In [62]:
test8([5,5,6],[4,5])

[5, 5, 6, 4, 5]

In [63]:
a = [5,5,6]
b = [4,5]

In [64]:
test8(a,b)

[5, 5, 6, 4, 5]

In [65]:
test8(5,[5,67])

'Either of data is not list'

In [68]:
def triangle(p):
    """this the function which helps you to create triangle with any number of rows"""
    if type(p)==int:
        for i in range(p):
            print('*'+ '*'*i)
    else:
        return "please enter integer"

In [69]:
triangle(6)

*
**
***
****
*****
******

In [83]:
def triangle(p):
    """this the function which helps you to create triangle with any number of rows"""
    for i in range(0,p):
        for j in range(0,i+1):
            print("*", end="")
        print("\r")

In [84]:
triangle(5)

*
**
***
****
*****

In [60]:
def parallelogram(p):
    """this the function which helps you to create triangle with any number of rows"""
    for i in range(0,p):
        for j in range(p,i+1,-1):
            print(" ", end="")
        for k in range(1,p+1):
            print("* ", end="")
        print("\r")

In [62]:
parallelogram(10)

         * * * * * * * * * *
        * * * * * * * * * *
       * * * * * * * * * *
      * * * * * * * * * *
     * * * * * * * * * *
    * * * * * * * * * *
   * * * * * * * * * *
  * * * * * * * * * *
 * * * * * * * * * *
* * * * * * * * * *

In [63]:
def squares(n):
    for i in range(1,n+1):
        for j in range(n+1,i,-1):
            print("  ", end="")
            for k in range(1,j):
                print("* ", end="")
        print("\r")

In [64]:
squares(9)

  * * * * * * * * *   * * * * * * * *   * * * * * * *   * * * * * *   * * * * *   * * * *   * * *   * *   *
  * * * * * * * * *   * * * * * * * *   * * * * * * *   * * * * * *   * * * * *   * * * *   * * *   * *
  * * * * * * * * *   * * * * * * * *   * * * * * * *   * * * * * *   * * * * *   * * * *   * * *
  * * * * * * * * *   * * * * * * * *   * * * * * * *   * * * * * *   * * * * *   * * * *
  * * * * * * * * *   * * * * * * * *   * * * * * * *   * * * * * *   * * * * *
  * * * * * * * * *   * * * * * * * *   * * * * * * *   * * * * * *
  * * * * * * * * *   * * * * * * * *   * * * * * * *
  * * * * * * * * *   * * * * * * * *
  * * * * * * * * *

In [65]:
def triangle(n):
    for i in range(1,n+1):
        for j in range(n+1,i,-1):
            print(" ", end="")
        for k in range(1,j):
            print("* ", end="")
        print("\r")

In [66]:
triangle(9)

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *

In [67]:
help(triangle)

Help on function triangle in module __main__:

triangle(n)